table .width-10 {
    width: 170px;
}

table .width-20 {
    width: 250px;
}

table .width-30 {
    width: 450px;
}

table .width-view {
    width: 120px;
}

table .w-10 {
    width: 90px;
}

table .w-20 {
    width: 230px;
}

table i {
    font-size: 20px;
}

.modal-body .tableFixHead {
    overflow-x: auto;
}

.modal-body table {
    width: max-content;
}