<div class="">
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <!-- Left section -->
    <div class="d-flex align-items-center flex-wrap">
      <h5 class="mb-0 mr-2">PM Confirmation</h5>
      <p class="text-primary small mb-0">(Please Check History)</p>
    </div>

    <!-- Right section: Buttons -->
    <div class="d-flex align-items-center flex-wrap p-2">
      <!-- <button type="button" class="p-element prime-button save-button mr-2"
      (click)="GET_PM_HISTORY(); showHistoryDialog()">
        History
      </button> -->
         <button
          class="btn btn-secondary mr-1"
          (click)="GET_PM_HISTORY(); showHistoryDialog()" >
          History
  </button>
      <!-- <button
        type="button"
        class="p-element prime-button secondary-button mr-2"
        (click)="goToList()"
      >
        List
      </button> -->
       <button
          class="btn btn-secondary"
         (click)="goToList()" >
          List
  </button>
      <!-- Save button (visible only if viewflag is false) -->
      <div *ngIf="STATUS_CODE == '00'" class="mr-2">
        <!-- <button
          class="p-element prime-button save-button"
          data-target="#saveissue"
          data-toggle="modal"
          (click)="SaveConfirmationPopUpOpen()"
        >
          Save
        </button> -->
          <button
          class="btn btn-secondary ml-1"
           data-target="#saveissue"
          data-toggle="modal"
          (click)="SaveConfirmationPopUpOpen()" >
          Save
  </button>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="form">
  <div class="card card-padding-none">
    <div class="card-body">
      <div class="row row-gap">
        <!-- Issue No -->
        <div class="col-3">
          <label for="issue_no" class="w-50 label-13px">Issue No.</label>
          <div class="floating-input">
            <input
              type="text"
              id="issue_no"
              class="form-control form-control-sm"
              formControlName="ISSUE_NO"
              placeholder="Issue No"
              disabled
            />
          </div>
        </div>

        <!-- Request Date -->
        <div class="col-3">
          <label class="w-50 label-13px">Date</label>
							<div class="floating-input mb-2">
								<input type="text" class="form-control" placeholder="dd-mm-yyyy" formControlName="REQUEST_DATE" [(ngModel)]="REQUEST_DATE" (change)="ChangeFDate()" readonly>
								<!-- <app-date-picker id="reqdate" [(ngModel)]="JV_DATE" #reqdate class="date-input" [ngModelOptions]="{standalone: true}"></app-date-picker> -->
								<div class="date-input">
									<mat-form-field fxFlex="100" appearance="fill">
										<!-- <mat-icon matDatepickerToggleIcon (click)="clearDate($event)">clear</mat-icon> -->
										<mat-datepicker-toggle matPrefix [for]="picker2"  id='cal2' #cal2></mat-datepicker-toggle>
										<input class="form-control" placeholder="dd-mm-yyyy" (dateChange)="ChangeFDate()" [value]="REQUEST_DATE" matInput [(ngModel)]="REQUEST_DATE" [ngModelOptions]="{standalone: true}" [matDatepicker]="picker2" [min]="minDate"  [disabled]="true" readonly />
							  			<mat-datepicker #picker2 id="picker2"></mat-datepicker>
									</mat-form-field>
								</div>
							</div>
        </div>

       

        <!-- Project Name -->
        <div class="col-3">
          <label for="project_name" class="w-50 label-13px">Project Name</label>
          <div class="floating-input">
            <input
              type="text"
              id="project_name"
              class="form-control form-control-sm"
              formControlName="PROJ_NAME"
              placeholder="Project Name"
              disabled
            />
          </div>
        </div>

        <!-- Cust Ref No. -->
        <div class="col-3">
          <label for="cust_ref_no" class="w-50 label-13px">Cust Ref No.</label>
          <div class="floating-input">
            <input
              type="text"
              id="cust_ref_no"
              class="form-control form-control-sm"
              formControlName="CUST_REF_NO"
              placeholder="Cust Ref No."
              disabled
            />
          </div>
        </div>

        <!-- Priority -->
        <div class="col-3">
          <label for="priority" class="w-50 label-13px">Priority</label>
          <div class="floating-input">
            <input
              type="text"
              id="priority"
              class="form-control form-control-sm"
              formControlName="PRIORITY_DESC"
              placeholder="Priority"
              disabled
            />
          </div>
        </div>

        <!-- Raised by -->
        <div class="col-3">
          <label for="raised_by" class="w-50 label-13px">Raised by</label>
          <div class="floating-input">
            <input
              type="text"
              id="raised_by"
              class="form-control form-control-sm"
              formControlName="RAISED_BY_NAME"
              placeholder="Raised By"
              disabled
            />
          </div>
        </div>

        <!-- Issue Type -->
        <div class="col-3">
          <label for="issue-type" class="w-50 label-13px">Issue Type</label>
          <div class="floating-input">
            <input
              type="text"
              id="issue-type"
              class="form-control form-control-sm"
              formControlName="ISSUE_TYPE_DESC"
              placeholder="Issue Type"
              disabled
            />
          </div>
        </div>

        <!-- Issue Subject -->
        <div class="col-3">
          <label for="issue_subject" class="w-50 label-13px"
            >Issue Subject</label
          >
          <div class="floating-input">
            <input
              type="text"
              id="issue_subject"
              class="form-control form-control-sm"
              formControlName="ISSUE_SUBJECT"
              placeholder="Issue Subject"
              disabled
            />
          </div>
        </div>

        <!-- Module -->
        <div class="col-3">
          <label for="module" class="w-50 label-13px">Module</label>
          <div class="floating-input">
            <input
              type="text"
              id="module"
              class="form-control form-control-sm"
              formControlName="MODULE_CODE"
              placeholder="Module"
              disabled
            />
          </div>
        </div>

        <!-- Function -->
        <div class="col-3">
          <label for="function" class="w-50 label-13px">Function</label>
          <div class="floating-input">
            <input
              type="text"
              id="function"
              class="form-control form-control-sm"
              formControlName="FUNCTION_CODE"
              placeholder="Function"
              disabled
            />
          </div>
        </div>

        <!-- Created By -->
        <div class="col-3">
          <label for="created_by" class="w-50 label-13px">Created By</label>
          <div class="floating-input">
            <input
              type="text"
              id="created_by"
              class="form-control form-control-sm"
              formControlName="CREATEDBY"
              placeholder="Created By"
              disabled
            />
          </div>
        </div>

        <!-- CR/Issue -->
        <div class="col-6">
          <label for="cr_stock_issue" class="w-50 label-13px">CR/Issue</label>
          <div class="floating-input">
            <textarea
              id="cr_stock_issue"
              class="form-control form-control-sm"
              formControlName="ASREASON_OF_ISSUE_CR"
              placeholder="CR/Issue"
              rows="6"
              disabled
            ></textarea>
          </div>
        </div>

        <!-- Uploaded Document List -->
        <div class="col-md-6 mt-2 mb-2 w-100">
          <label class="w-50 label-13px">Uploaded Document List</label>
          <table class="table-theam-1 row_bgcolor_1 w-100">
            <thead class="thead-light">
              <tr class="width-100percent">
                <th class="width-85percent">File Name</th>
                <th class="width-15percent">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of INITIAL_DOC_LIST; let i = index">
                <td>{{ data.FILE_NAME }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-sm card-padding-none p-0 mr-1"
                    (click)="viewDocument(data)"
                    title="View Document"
                  >
                    <i class="pi pi-eye"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm card-padding-none p-0"
                    (click)="downloadDocument(data)"
                    title="Download Document"
                  >
                    <i class="pi pi-download"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Description -->
        <!-- <div class="col-6">
            <label class="label-13px">Description of CR</label>
            <div class="floating-input">
              <textarea class="form-control" rows="4" placeholder="Enter Description" formControlName="DESC_ISSUE"
                [attr.disabled]="viewflag ? '' : null"></textarea>
            </div>
          </div> -->
      </div>
    </div>
  </div>
</form>

<form [formGroup]="form">
  <div class="card p-2 mt-2">
    <div class="card-body">
       
      <!-- Row 1: Radio Buttons -->
      <div class="d-flex align-items-center mb-3">
         <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="statusAcknowledge"
            name="developerStatus"
            [attr.disabled]="isDisableRadioBtn ? '' : null"
            formControlName="DEVELOPER_STATUS"
            value="ACKNOWLEDGE"
            (change)="developerStatus = 'ACKNOWLEDGE'"
          />
          <label class="form-check-label mt-2" for="statusOk">Acknowledge</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="statusOk"
            name="developerStatus"
            [attr.disabled]="isDisableRadioBtn ? '' : null"
            formControlName="DEVELOPER_STATUS"
            value="OK"
            (change)="developerStatus = 'OK'"
          />
          <label class="form-check-label mt-2" for="statusOk">OK</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="statusClose"
            name="developerStatus"
            [attr.disabled]="isDisableRadioBtn ? '' : null"
            formControlName="DEVELOPER_STATUS"
            value="CLOSE"
            (change)="developerStatus = 'CLOSE'"
          />
          <label class="form-check-label mt-2" for="statusClose">Close</label>
        </div>
      </div>

      <!-- Row 2: Reason Field (Visible only when CLOSE is selected) -->
      <div class="form-group mt-2 row row-gap" *ngIf="developerStatus === 'CLOSE'">
        <div class="col-md-8">
          <label class="label-13px">Reason <span class="text-danger">*</span></label>
          <textarea
            class="form-control"
            rows="2"
            formControlName="DEVELOPER_COMMENT"
            placeholder="Enter Reason"></textarea>
        </div>
        <div class="col-md-4">
          <label class="w-50 label-13px">Status Update <span class="text-danger">*</span></label>
          <div class="floating-input list-btn">
            <select
              class="form-control selectpicker show-tick"
              data-live-search="true"
              formControlName="CLOSURE_CODE"
              title="Select Status"
              [attr.disabled]="viewflag ? '' : null">
              <option
                *ngFor="let res of RESOLVED_STATUS_LIST"
                [value]="res.CLOSURE_CODE">
                {{ res.CLOSURE_NAME }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- Row 3: Other Fields (Visible only when OK is selected) -->
      <div *ngIf="developerStatus === 'OK'">
        <div class="row row-gap">
          <div class="col-md-3">
            <!-- <label class="font-weight-bold small">Delivery By</label>
            <input
              type="date"
              class="form-control"
              formControlName="DELIVERY_BY"
               [min]="minDate"
               
            /> -->


            <div class="">
							<label>Delivery By:<span class="text-danger">*</span></label>
							<div class="floating-input mb-2">
								<input type="text" class="form-control" placeholder="dd-mm-yyyy" formControlName="DELIVERY_BY" [(ngModel)]="DELIVERY_BY" (change)="ChangeFDate()" readonly>
								<!-- <app-date-picker id="reqdate" [(ngModel)]="JV_DATE" #reqdate class="date-input" [ngModelOptions]="{standalone: true}"></app-date-picker> -->
								<div class="date-input">
									<mat-form-field fxFlex="100" appearance="fill">
										<!-- <mat-icon matDatepickerToggleIcon (click)="clearDate($event)">clear</mat-icon> -->
										<mat-datepicker-toggle matPrefix [for]="picker2"  id='cal2' #cal2></mat-datepicker-toggle>
										<input class="form-control" placeholder="dd-mm-yyyy" (dateChange)="ChangeFDate()" [value]="DELIVERY_BY" matInput [(ngModel)]="DELIVERY_BY" [ngModelOptions]="{standalone: true}" [matDatepicker]="picker2" [min]="minDate"  [disabled]="false" readonly />
							  			<mat-datepicker #picker2 id="picker2"></mat-datepicker>
									</mat-form-field>
								</div>
							</div>
						</div>
          </div>
          




          

          <!-- <div class="col-md-4">
            <label class="font-weight-bold small">
              Est. Man Hours <span class="text-danger">*</span>
            </label>
            <input
              type="number"
              class="form-control"
              formControlName="EST_HOURS"
              placeholder="Enter Est. Hours"
              maxlength="3"
            />
          </div> -->

          <div class="col-3">
            <label class="w-50 label-13px">Est. Man Hours:
              <span class="text-danger">*</span>
            </label>
            <div class="floating-input">
              <input
                type="number"
                class="form-control"
                formControlName="EST_HOURS"
                placeholder="Enter Est. Hours"
              
              />
            </div>
          </div>

        <div class="col-3">
          <label class="w-50 label-13px">Resolution <span class="text-danger">*</span></label>
          <div class="floating-input list-btn">
            <select
              class="form-control selectpicker show-tick"
              data-live-search="true"
              formControlName="RESOLUTION_CODE"
              title="Select Resolution"
              [attr.disabled]="viewflag ? '' : null"
            >
              <option
                *ngFor="let res of RESOLUTION_LIST"
                [value]="res.RESOLUTION_CODE"
              >
                {{ res.RESOLUTION_NAME }}
              </option>
            </select>
          </div>
        </div>

      <div class="col-3">
        <label class="w-50 label-13px">Status Update <span class="text-danger">*</span></label>
        <div class="floating-input list-btn">
          <select
            class="form-control selectpicker show-tick"
            data-live-search="true"
            formControlName="STATUS_CODE"
            title="Select Status"
            [attr.disabled]="viewflag ? '' : null"
          >
            <option
              *ngFor="let res of StatusList"
              [value]="res.STATUS_CODE"
            >
              {{ res.STATUS_NAME }}
            </option>
          </select>


        </div>
      </div>
        </div>

        <div class="row row-gap">
          <div class="col-md-6 mb-3">
            <label class="label-13px">
              PM Explanation: <span class="text-danger">*</span>
            </label>
            <textarea
              class="form-control"
              rows="4"
              formControlName="DEVELOPER_COMMENT"
              placeholder="Enter PM Explanation"
            ></textarea>
          </div>

          <div class="col-md-3">
            <label class="w-50 label-13px">Nature of Issue <span class="text-danger">*</span></label>
            <div class="floating-input list-btn">
              <select
                class="form-control selectpicker show-tick"
                data-live-search="true"
                formControlName="NATURE_ID"
                title="Select Nature"
                [attr.disabled]="viewflag ? '' : null"
              >
                <option
                  *ngFor="let res of natureIssueList"
                  [value]="res.NATURE_ID"
                >
                  {{ res.NATURE_DESC }}
                </option>
              </select>
            </div>
          </div>

        </div>






              <div class="card-body" style="padding-top: 0px">
        <div class="row row-gap">
          <div class="col-md-6" style="padding-left: 0px; padding-right: 0px">
            <div class="form-inline">
              <h6 class="mb-0 col-md-6 p-0">Add Assignee</h6>
              <div class="row-add col-md-6 text-right p-0">
                <div class="">
                  <div class="d-flex">
                    <select
                      class="form-control selectpicker show-tick"
                      [(ngModel)]="selected_emp"
                      data-container="body"
                      data-size="5"
                      id="emp"
                      #emp
                      data-live-search="true"
                      title="Select"
                      [ngModelOptions]="{standalone: true}"
                    >
                      <option
                        *ngFor="let opt of Account_manager_list; let i=index"
                        [value]="opt | json"
                      >
                        {{ opt.EMP_CODE }} - {{ opt.USER_NAME }}
                      </option>
                    </select>
                    <button
                      type="button"
                      class="btn text-primary"
                      style="margin-top: -5px; margin-left: 4px"
                      (click)="addRow()"
                    >
                      <i class="fa fa-plus-square icon-big"></i>
                    </button>
                  </div>
                </div>
              </div>
              <hr class="m-0 mb-2" />
            </div>
            <div class="tableFixHead">
              <table class="table-theam-1 row-bgcolor_1">
                <thead>
                  <tr>
                    <th class="">Name</th>
                    <th class="w-5">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let data of project_assign_emp_detail; let i=index;"
                  >
                    <td class="">{{ data.EMP_CODE }} - {{ data.FULL_NAME }}</td>
                    <td class="w-5">
                      <button
                        type="button"
                        class="btn text-primary p-0"
                        (click)="removeRow(data)"
                      >
                        <i class="fas fa-trash-alt text-danger ml-2"></i>
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="project_assign_emp_detail.length === 0">
                <td colspan="2" class="text-center text-muted">
                  No assignees
                </td>
              </tr>
                </tbody>
              </table>
            </div>
          </div>


<!-- <div class="card-body pt-0">
<div class="row row-gap">
<div class="col-md-12 px-0">

      <div class="d-flex align-items-center justify-content-between mb-2">
        <h6 class="mb-0 font-weight-bold">Add Assignee</h6>

        <div class="d-flex align-items-center">
          <select
            class="form-control selectpicker show-tick mr-2"
            [(ngModel)]="selected_emp"
            data-container="body"
            data-size="5"
            id="emp"
            #emp
            data-live-search="true"
            title="Select"
            [ngModelOptions]="{standalone: true}"
          >
            <option
              *ngFor="let opt of Account_manager_list"
              [value]="opt | json"
            >
              {{ opt.EMP_CODE }} - {{ opt.USER_NAME }}
            </option>
          </select>

          <button
            type="button"
            class="btn btn-outline-primary btn-sm"
            (click)="addRow()"
            title="Add Assignee"
          >
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>

      <hr class="mt-1 mb-3" />

      
      <div class="border rounded shadow-sm bg-white">
        <div class="table-wrapper">
          <table class="table table-sm table-hover mb-0">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th class="text-center w-5">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of project_assign_emp_detail">
                <td>{{ data.EMP_CODE }} - {{ data.FULL_NAME }}</td>
                <td class="text-center">
                  <button
                    type="button"
                    class="btn btn-link text-danger p-0"
                    (click)="removeRow(data)"
                    title="Remove"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>

              <tr *ngIf="project_assign_emp_detail.length === 0">
                <td colspan="2" class="text-center text-muted">
                  No assignees
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div> -->


          <div class="col-6 d-flex flex-column">    
            <div class="custom-file-uploader-container">
              <div class="flex-box-col">
              <button
                class="btn btn-secondary"
                (click)="fileInput.click()"
                title="(Accepted file formats: PDF, JPG, PNG, Xls, Xlsx, Doc, Docx)"
              >
                <i class="pi pi-upload mr-2"></i>Add File
              </button>
              <input
                type="file"
                #fileInput
                hidden
                (change)="onFileSelected($event)"/>
                </div>
              <small class="mb-0 file-upload-label" >Any file for Explanation</small>
            </div>
            <div class=" pt-2">
              <table class="table-theam-1 row_bgcolor_1">
                <thead>
                  <tr class="width-100percent">
                    <th class="width-85percent">File Name</th>
                    <th class="width-15percent">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let file of RESOLVE_DOC_LIST; let i = index"
                  >
                    <td>{{ file.FILE_NAME }}</td>
                    <td>
                      <button
                        class="btn btn-sm card-padding-none mr-2"
                        (click)="viewDocument(file)"
                        title="View Document"
                      >
                        <i class="pi pi-eye"></i>
                      </button>
                     
                      <button
                        type="button"
                        class="btn btn-sm card-padding-none"
                        (click)="deleteFile(i, fileInput)"
                        title="Delete file">
                        <i class="pi pi-trash"></i>
                      </button>
 
                    </td>
                  </tr>
                  <tr *ngIf="RESOLVE_DOC_LIST.length === 0">
                <td colspan="2" class="text-center text-muted">
                  No Document
                </td>
              </tr>
                </tbody>
              </table>
            </div>
          </div>
          

        </div>
      </div>


    </div>


    </div>
  </div>
</form>

<div
  class="modal fade"
  *ngIf="SaveConfirmationPopUp"
  #saveissue
  id="saveissue"
  tabindex="-1"
  role="dialog"
  data-keyboard="false"
  data-backdrop="static"
  aria-labelledby="saveissue"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
      </div>
      <div class="modal-body">
        <div class="form-header text-center">
          <!-- <h5>Confirmation</h5> -->
          <p style="text-align: left; margin-left: 15px">
            Are you sure you want to save ?
          </p>
        </div>
        <!-- <div class="col-md-12" *ngIf="differenceOfreqAndApp">
          <label> Reason to reduce requested amount:<span class="text-danger">*</span></label>
          <div class="floating-input mb-2">
            <textarea name="" id="" cols="2" class="form-control" placeholder="Approve Reason"  [(ngModel)]="REJECT_REASON"
              ></textarea>
          </div>
        </div> -->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="SAVE_PM_CONFIRMATION_MASTER()"
        >
          Yes
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          No
        </button>
      </div>
    </div>
  </div>
</div>


 <p-dialog
  header="History Details"
  [(visible)]="displayHistory"
  [modal]="true"
  [style]="{ width: '50rem' }"
>
<div class="">
<div class="comment-history">
  <div 
    class="comment-item" 
    *ngFor="let data of COMMENT_HISTORY; let i = index"
  >
    <!-- Header -->
    <div 
      class="comment-header"
      (click)="data.expanded = !data.expanded"
    >
      <!-- <span class="status-text">{{ data.STATUS_NAME }}</span> -->
 <span class="status-text">{{ data.CREATEDON }},  {{ data.USER_NAME }}</span>
      <div class="header-right">
        <p class="status">
          <i class="pi pi-circle-fill mr-1" [ngClass]="data.STATUS_COLOR_NAME"></i>
          {{ data.STATUS_NAME }}
        </p>
        <p class="date">{{ data.CREATEDON }}</p>
        <i 
          class="pi toggle-icon"
          [ngClass]="data.expanded ? 'pi-chevron-up' : 'pi-chevron-down'"
        ></i>
      </div>
    </div>

    <!-- Comment Section -->
    <div class="comment-body" *ngIf="data.expanded">
      <label 
        for="comment-{{ i }}" 
        class="comment-label"
      >Comment :-</label>

      <textarea
        id="comment-{{ i }}"
        rows="3"
        pInputTextarea
        class="comment-textarea"
        [(ngModel)]="data.COMMENTS"
        [disabled]="true"
      ></textarea>
    </div>
  </div>
</div>

</div>
</p-dialog>
