<app-spinner [startSpinner]='spinner' *ngIf="spinner"></app-spinner>
<form [formGroup]="form">
    <div class="row">
        <!-- <div class="col-md-12">
            <button class="btn btn-secondary  float-right m-1 ml-1 mr-1" title="Save" (click)="bankSave()">Save</button>
        </div> -->
        <div class="col-md-12">
            <div class="row card">
                <div class="col-md-5">
                    <div class="floating-input  list-btn">
                        <select class="form-control selectpicker show-tick" id="Company" [ngClass]="{'invalid-control':form.controls['COMPANY_CODE'].errors?.required}"
                        formControlName="COMPANY_CODE"  data-live-search="true" title="Select">
                            <option *ngFor="let opt of company_list; let i=index" 
                            [selected]="opt.COMPANY_CODE == form.controls['COMPANY_CODE'].value"
                            [value]="opt.COMPANY_CODE" >{{ opt.COMPANY_NAME }}</option>                  
                        </select>
                        <button type="button" class="close"  (click)="form.controls['COMPANY_CODE'].reset();" onclick="resetDropdown('Company')"  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="floating-input  list-btn">
                        <select class="form-control selectpicker show-tick" id="Location" [ngClass]="{'invalid-control':form.controls['LOCATION_CODE'].errors?.required}"
                        formControlName="LOCATION_CODE"  data-live-search="true" title="Select">
                            <option *ngFor="let opt of _location_list; let i=index" 
                            [selected]="opt.LOCATION_CODE == form.controls['LOCATION_CODE'].value"
                            [value]="opt.LOCATION_CODE" >{{ opt.LOCATION_NAME }}</option>                   
                        </select>
                        <button type="button" class="close"  (click)="form.controls['LOCATION_CODE'].reset();" onclick="resetDropdown('Location')"  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-secondary" title="Save" (click)="bankSave()">Save</button>
                </div>
            </div> 
        </div>
        <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 pr-0 padd_right mt-2 d-flex ">
            <div class="row card">
                <div class="col-xl-6 col-lg-4 col-md-4 col-sm-4">
                    <label>Payment Date :</label>
                    <div class="floating-input " [ngClass]="{'invalid-control':isSubmited && form.controls['TRXN_DATE'].errors?.required}" >
                        <input type="text" class="form-control"    formControlName="TRXN_DATE" [(ngModel)]="TRXN_DATE">
                        <!-- <app-date-picker [(ngModel)]="TRXN_DATE" id="rec_date" class="date-input" [maxdate]="" [mindate]="" [isDisable]='false' [ngModelOptions]="{standalone: true}"></app-date-picker> -->
                        <div class="date-input">
                            <mat-form-field fxFlex="100" appearance="fill">
                                <mat-datepicker-toggle matPrefix [for]="picker1" id='cal1' #cal1></mat-datepicker-toggle>
                                <input class="form-control" (dateChange)="ChangeReceiptDate()" [value]="_DATE1" matInput [(ngModel)]="_DATE1" [ngModelOptions]="{standalone: true}" [matDatepicker]="picker1" [min]="min_date" [max]="maxdate" [disabled]="false" readonly />
    
                                <mat-datepicker #picker1 id="picker1"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div> 
                <div class="col-xl-6 col-lg-4 col-md-4 col-sm-4">
                    <label>Payment No. :</label>
                    <div class="floating-input ">
                        <input type="text" class="form-control" disabled placeholder="Payment No." formControlName="TRXN_ID">
                    </div>
                </div>
                <div class="col-xl-12 col-lg-4 col-md-4 col-sm-4">
                    <label>Pay To :</label>
                    <div class="form-inline">
                        <div class="form-group radios mr-3">
                            <input id="customer" type="radio"  class="mr-2" formControlName="PARTY_TYPE" checked value="C" (click)="showContent($event.target.value);">
                            <label for="customer"><span class="span-txt">Customer
                                </span></label>
                        </div>
                        <div class="form-group radios mr-3">
                            <input id="vendor" type="radio"  class="mr-2" formControlName="PARTY_TYPE"  value="V"  (click)="showContent($event.target.value);">
                            <label for="vendor"><span class="span-txt">Vendor
                                </span></label>
                        </div>
                        <!-- <div class="form-group radios mr-3">
                            <input id="bank" type="radio"  class="mr-2" formControlName="PARTY_TYPE"  value="B"  (click)="showContent($event.target.value);">
                            <label for="bank"><span class="span-txt">Bank
                                </span></label>
                        </div> -->
                        <div class="form-group radios mr-3">
                            <input id="employee" type="radio"  class="mr-2" formControlName="PARTY_TYPE"  value="E"  (click)="showContent($event.target.value);">
                            <label for="employee"><span class="span-txt">Employee
                                </span></label>
                        </div>
                        <div class="form-group radios mr-3">
                            <input id="gl" type="radio"  class="mr-2" formControlName="PARTY_TYPE"  value="G"  (click)="showContent($event.target.value);">
                            <label for="gl"><span class="span-txt">GL
                                </span></label>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <label *ngIf="radioSelected0">Customer :</label>
                    <label *ngIf="radioSelected1">Vendor :</label>
                    <!-- <label *ngIf="radioSelected2">Bank :</label> -->
                    <label *ngIf="radioSelected3">Employee :</label>
                    <label *ngIf="radioSelected4">GL :</label>
                    <div class="floating-input  list-btn"  *ngIf="radioSelected0">
                        <select class="form-control selectpicker show-tick" id="_customer" formControlName="CUST_CODE" (change)="ChangeCustomer()" [ngClass]="{'invalid-control':form.controls['CUST_CODE'].errors?.required}"
                        data-live-search="true" title="Select" >
                            <option *ngFor="let opt of customer_list; let i=index" 
                            [selected]="opt.CUST_CODE == form.controls['CUST_CODE'].value"
                            [value]="opt.CUST_CODE" >{{ opt.CUST_NAME }}</option>                     
                        </select>
                        <button type="button" class="close"  (click)="form.controls['CUST_CODE'].reset();" onclick="resetDropdown('_customer')"  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="floating-input  list-btn"  *ngIf="radioSelected1">
                        <select class="form-control selectpicker show-tick" id="_vendor" formControlName="VENDOR_NO" (change)="ChangeVendor()" [ngClass]="{'invalid-control':form.controls['VENDOR_NO'].errors?.required}"
                        data-live-search="true" title="Select">
                            <option *ngFor="let opt of vendor_list; let i=index" 
                            [selected]="opt.VENDOR_NO == form.controls['VENDOR_NO'].value"
                            [value]="opt.VENDOR_NO" >{{ opt.VENDOR_NAME }}</option>                     
                        </select>
                        <button type="button" class="close"  (click)="form.controls['VENDOR_NO'].reset();" onclick="resetDropdown('_vendor')"  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- <div class="floating-input  list-btn"  *ngIf="radioSelected2">
                        <select class="form-control selectpicker show-tick" id="_bank" formControlName="BANK_CODE" [ngClass]="{'invalid-control':form.controls['BANK_CODE'].errors?.required}"
                        data-live-search="true" title="Select">
                            <option *ngFor="let opt of bank_list; let i=index" 
                            [selected]="opt.BANK_CODE == form.controls['BANK_CODE'].value"
                            [value]="opt.BANK_CODE" >{{ opt.BANK_NAME }}</option>                      
                        </select>
                        <button type="button" class="close"  (click)="form.controls['BANK_CODE'].reset();" onclick="resetDropdown('_bank')"  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div> -->
                    <div class="floating-input  list-btn"  *ngIf="radioSelected3">
                        <select class="form-control selectpicker show-tick" id="_employee" (change)="ChangeEmployee()" formControlName="EMP_NO"
                        data-live-search="true" title="Select">
                            <option *ngFor="let opt of employee_list; let i=index" 
                            [selected]="opt.EMP_CODE == form.controls['EMP_NO'].value"
                            [value]="opt.EMP_CODE" >{{ opt.EMP_CODE }} - {{ opt.USER_NAME }}</option>                       
                        </select>
                        <button type="button" class="close"  (click)="form.controls['EMP_NO'].reset();" onclick="resetDropdown('_employee')"  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="floating-input  list-btn"  *ngIf="radioSelected4">
                        <select class="form-control selectpicker show-tick" id="_gl" formControlName="GL_NO" (change)="ChangeGL()" [ngClass]="{'invalid-control':form.controls['GL_NO'].errors?.required}"
                        data-live-search="true" title="Select">
                        <option *ngFor="let opt of gl_list; let i=index" 
                        [selected]="opt.GL_NO == form.controls['GL_NO'].value"
                        [value]="opt.GL_NO" >{{ opt.GL_DESCRIPTION }}</option>                    
                        </select>
                        <button type="button" class="close"  (click)="form.controls['GL_NO'].reset();" onclick="resetDropdown('_gl')"  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <label>Project :</label>
                    <div class="floating-input  list-btn">
                        <select class="form-control selectpicker show-tick dd_size" id="PROJ_CODE" formControlName="PROJ_CODE" [ngClass]="{'invalid-control':form.controls['PROJ_CODE'].errors?.required}"
                        data-live-search="true" title="Select">
                        <option *ngFor="let opt of project_list; let i=index" 
                        [selected]="opt.PROJ_CODE == form.controls['PROJ_CODE'].value"
                        [value]="opt.PROJ_CODE" >{{ opt.PROJ_NAME }}</option>                    
                        </select>
                        <button type="button" class="close"  (click)="form.controls['PROJ_CODE'].reset();" onclick="resetDropdown('PROJ_CODE')"  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <!-- <div class="col-md-10">
                    <label>Pay Ref No. :</label>
                    <div class="floating-input ">
                        <input type="text" class="form-control" placeholder="Pay Ref No." formControlName="PAY_REFNO" [ngClass]="{'invalid-control':isSubmited && form.controls['PAY_REFNO'].errors?.required}" >
                    </div>
                </div> -->
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                    <label>Remarks :</label>
                    <div class="floating-input ">
                        <textarea name="" id="" rows="2" class="form-control" maxlength="500" placeholder="Remarks" formControlName="REMARKS" [ngClass]="{'invalid-control':isSubmited && form.controls['REMARKS'].errors?.required}"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mt-2">
            <div class="row card">
                <!-- <div class="col-md-12">
                    <label>Pay Date :</label>
                    <div class="floating-input " [ngClass]="{'invalid-control':isSubmited && form.controls['PAY_DATE'].errors?.required}" >
                        <input type="text" class="form-control" formControlName="PAY_DATE" [(ngModel)]="PAY_DATE"  >
                         <app-date-picker [(ngModel)]="PAY_DATE" id="pay_date"  class="date-input" [maxdate]="" [mindate]="" [isDisable]='false' [ngModelOptions]="{standalone: true}"></app-date-picker> 
                        <div class="date-input">
                            <mat-form-field fxFlex="100" appearance="fill">
                                <mat-datepicker-toggle matPrefix [for]="picker" id='cal' #cal></mat-datepicker-toggle>
                                <input class="form-control" (dateChange)="ChangeDate()" [value]="_DATE" matInput [(ngModel)]="_DATE" [ngModelOptions]="{standalone: true}" [matDatepicker]="picker" [min]="min_date" [max]="maxdate" [disabled]="false" readonly />
    
                                <mat-datepicker #picker id="picker"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div> -->
                <div class="col-xl-12 col-lg-4 col-md-4 col-sm-4">
                    <label>Bank :</label>
                    <div class="floating-input  list-btn" [ngClass]="{'invalid-control':isSubmited && form.controls['BANK_CODE'].errors?.required}" >
                        <select class="form-control selectpicker show-tick" id="_bank" formControlName="BANK_CODE" 
                        data-live-search="true" title="Select">
                            <option *ngFor="let opt of bank_list; let i=index" 
                            [selected]="opt.BANK_CODE == form.controls['BANK_CODE'].value"
                            [value]="opt.BANK_CODE" >{{ opt.BANK_NAME }}</option>                      
                        </select>
                        <button type="button" class="close"  (click)="form.controls['BANK_CODE'].reset();" onclick="resetDropdown('_bank')"  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>     
                <div class="col-xl-12 col-lg-4 col-md-4 col-sm-4">
                    <label>Payment Amount :</label>
                    <div class="floating-input " [ngClass]="{'invalid-control':isSubmited && form.controls['TRXN_AMT_1'].errors?.required}">
                        <input type="text" class="form-control cost" enabled costInput (change)="CalculateAdjustAmount()" maxlength="9" formControlName="TRXN_AMT_1" id="Received_Amount" placeholder="Payment Amount" autocomplete="off" >
                    </div>
                </div>
                
                <div class="col-xl-12 col-lg-4 col-md-4 col-sm-4">
                    <label>Party Debit Amount :</label>
                    <div class="floating-input " [ngClass]="{'invalid-control':isSubmited && form.controls['TRXN_AMT'].errors?.required}">
                        <input type="text" class="form-control cost" maxlength="9" enabled costInput (change)="CalculateAdjustAmount()" formControlName="TRXN_AMT" id="Received_Amount1" placeholder="Party Debit Amount" autocomplete="off" >
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4 col-md-4 col-sm-4">
                    <label>Currency :</label>
                    <div class="floating-input  list-btn" [ngClass]="{'invalid-control':isSubmited && form.controls['CURRENCY_CODE'].errors?.required}">
                        <select class="form-control selectpicker show-tick" id="currency" (change)="changeCurrency()"
                        formControlName="CURRENCY_CODE"   data-live-search="true" title="Select">
                            <option *ngFor="let opt of currency_list; let i=index" 
                            [selected]="opt.CURRENCY_CODE == form.controls['CURRENCY_CODE'].value"
                            [value]="opt.CURRENCY_CODE" >{{ opt.CURRENCY_NAME }}</option>                      
                        </select>
                        <button type="button" class="close"  (click)="form.controls['CURRENCY_CODE'].reset();" onclick="resetDropdown('currency')"  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4 col-md-4 col-sm-4">
                    <label>Exchange Rate :</label>
                    <div class="floating-input " [ngClass]="{'invalid-control':form.controls['EXCHANGE_RATE'].errors?.required}">
                        <input type="text" id="EXCHANGE_RATE" class="form-control cost" maxlength="9" costInput placeholder="Exchange Rate" formControlName="EXCHANGE_RATE"  (change)="CalculateAdjustAmount()" >
                    </div>
                </div>
                <div class="col-xl-12 col-lg-4 col-md-4 col-sm-4">
                    <label>Pay Ref No. :</label>
                    <div class="floating-input ">
                        <input type="text" class="form-control" placeholder="Pay Ref No." maxlength="50" formControlName="PAY_REFNO" [ngClass]="{'invalid-control':isSubmited && form.controls['PAY_REFNO'].errors?.required}" >
                    </div>
                </div>
                <!-- <div class="col-md-12">
                    <label>Payment Base :</label>
                    <div class="floating-input " [ngClass]="{'invalid-control':isSubmited && form.controls['TRXN_BASE'].errors?.required}">
                        <input type="text" class="form-control cost" disabled costInput placeholder="Received Base" formControlName="TRXN_BASE">
                    </div>
                </div> -->
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="row card">
                <div class="col-md-12">
                    <div class="form-inline">
                        <h6 class="mb-0 col-md-6 p-0">Adjustment Details</h6>
                        <div class="col-md-6 text-right">
                            <label class="float-right">
                                <a href data-toggle="modal" (click)="showbill()" data-target="#alltasks" class="text-uppercase text-decoration-none">Show Bills</a>
                            </label>
                        </div>
                        <hr class="m-0 mb-2"> 
                    </div>
                    <div class="tableFixHead">
                        <table class="table-theam-1 table_width row_bgcolor_1">
                            <thead>
                                <tr>
                                    <th class="" style="width: 200px;">Adjust Amt.</th>
                                    <th class="w-1">Voucher No.</th> 
                                    <th class="w-1">Invoice No.</th>
                                    <th class="w-1">Invoice Date</th>
                                    <th class="w-2">Dr/Cr</th>
                                    <th class="w-1">Invoice Amt.</th>
                                    <th class="w-1">Balance Amt.</th>
                                    <th class="w-1">Vouchar Date</th>
                                    <th class="w-3">Ref. Party</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of _BANK_Detail;let i=index;">
                                    <td class="" style="width: 200px;">
                                        <div class="floating-input ">
                                            <input type="text" class="form-control cost" enabled costInput (change)="CalculateAdjustAmount()" [(ngModel)]="data.ADJUST_AMT" [ngModelOptions]="{standalone: true}" [disabled]="!data.ACTIVE"  id="Adjust_Amt{{i}}" OnlyNumber='true' >
                                          </div>
                                    </td>
                                    <td class="w-1">{{data.VOUCHER_NO}}</td>
                                    <td class="w-1">{{data.INVOICE_NO}}</td>
                                    <td class="w-1">{{data.INVOICE_DATE}}</td>
                                    <td class="w-2">{{data.DR_CR}}</td> 
                                    <td class="w-1">{{data.INVOICE_AMT}}</td>
                                    <td class="w-1" >{{data.BALANCE_AMT}}</td>
                                    <td class="w-1">{{data.VOUCHER_DATE}}</td>
                                    <td class="w-3">{{data.REF_PARTY}}</td>
                                   
                                </tr>
                            </tbody>
                        </table>
                    <div  class="col-md-12  mt-2 d-flex ">
                        <div  class="form-inline">
                            <label >Adjust Total :</label>
                            <div  class="floating-input ml-2 ">
                                <input  class="form-control cost" formControlName="ADJUST_TOTAL" (change)="CalculateAdjustAmount()" disabled costInput placeholder="Adjust Total" type="text" style="width: 108px;" OnlyNumber='true' autocomplete="off" >
                            </div>
                        </div>
                        <div  class="col-md-5 mt-1 form-inline">
                            <label >Balance to Adjust :</label>
                            <div  class="floating-input ml-2">
                                <input  class="form-control ml-1 cost"  formControlName="BAL_TO_ADJUST" disabled costInput placeholder="Bal to Adj" type="text" style="width: 108px;" OnlyNumber='true' >
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="row card">
                <div class="col-md-4">
                    <label>Other Charges :</label>
                    <div class="floating-input  list-btn">
                        <select class="form-control selectpicker show-tick" id="other_charges"  formControlName="OTH_CHARGEGL1"
                          data-live-search="true" title="Select">
                          <option *ngFor="let opt of gl_list; let i=index" 
                          [selected]="opt.GL_NO == form.controls['OTH_CHARGEGL1'].value"
                          [value]="opt.GL_NO" >{{ opt.GL_DESCRIPTION }}</option>                     
                        </select>
                        <button type="button" class="close"  (click)="form.controls['OTH_CHARGEGL1'].reset();" onclick="resetDropdown('other_charges')"  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Amount :</label>
                    <div class="floating-input d-flex">
                        <input type="text" class="form-control mr-2 w-75 cost" maxlength="9" enabled costInput placeholder="Amount" (change)="CalculateAdjustAmount()" formControlName="OTH_CHARGEAMT1" >C
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Currency :</label>
                    <div class="floating-input  list-btn">
                        <select class="form-control selectpicker show-tick" id="OTH_CURRENCY_CODE1" formControlName="OTH_CURRENCY_CODE1"
                          data-live-search="true" title="Select">
                          <option *ngFor="let opt of other_currency_list; let i=index" 
                          [selected]="opt.CURRENCY_CODE == form.controls['OTH_CURRENCY_CODE1'].value"
                          [value]="opt.CURRENCY_CODE" >{{ opt.CURRENCY_NAME }}</option>  
                        </select>
                        <button type="button" class="close"  (click)="form.controls['OTH_CURRENCY_CODE1'].reset();" onclick="resetDropdown('_currency')"  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <!--  -->
                <div class="col-md-4">
                    <label>Other Charges :</label>
                    <div class="floating-input  list-btn">
                        <select class="form-control selectpicker show-tick" id="other_charges2"  formControlName="OTH_CHARGEGL2"
                        data-live-search="true" title="Select">
                        <option *ngFor="let opt of gl_list; let i=index" 
                        [selected]="opt.GL_NO == form.controls['OTH_CHARGEGL2'].value"
                        [value]="opt.GL_NO" >{{ opt.GL_DESCRIPTION }}</option>                     
                      </select>
                        <button type="button" class="close"  (click)="form.controls['OTH_CHARGEGL2'].reset();" onclick="resetDropdown('other_charges2')"  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Amount :</label>
                    <div class="floating-input d-flex">
                        <input type="text" class="form-control mr-2 w-75 cost" maxlength="9" enabled costInput placeholder="Amount" (change)="CalculateAdjustAmount()" formControlName="OTH_CHARGEAMT2">C
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Currency :</label>
                    <div class="floating-input  list-btn">
                        <select class="form-control selectpicker show-tick" id="OTH_CURRENCY_CODE2" formControlName="OTH_CURRENCY_CODE2"
                         data-live-search="true" title="Select">
                            <option *ngFor="let opt of other_currency_list; let i=index" 
                            [selected]="opt.CURRENCY_CODE == form.controls['OTH_CURRENCY_CODE2'].value"
                            [value]="opt.CURRENCY_CODE" >{{ opt.CURRENCY_NAME }}</option>                    
                        </select>
                        <button type="button" class="close"  (click)="form.controls['OTH_CURRENCY_CODE2'].reset();" onclick="resetDropdown('_currency')"  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <!--  -->
                <div class="col-md-3">
                    <label>TDS Code :</label>
                    <div class="floating-input  list-btn">
                        <select class="form-control selectpicker show-tick" id="tds_code" (change)="ChangeTds()"
                        formControlName="TDS_CODE"  data-live-search="true" title="Select">
                            <option *ngFor="let opt of tds_code_list; let i=index" 
                            [selected]="opt.TDS_CODE == form.controls['TDS_CODE'].value"
                             [value]="opt.TDS_CODE" >{{ opt.TDS_NAME }}</option>                  
                        </select>
                        <button type="button" class="close"  (click)="form.controls['TDS_CODE'].reset();" onclick="resetDropdown('tds_code')"  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>TDS On :</label>
                    <div class="floating-input ">
                        <input type="text" class="form-control mr-2 cost" enabled costInput placeholder="TDS On" (change)="CalculateAdjustAmount()" formControlName="TDS_ON">
                    </div>
                </div>
                <div class="col-md-3">
                    <label>TDS Amount :</label>
                    <div class="floating-input ">
                        <input type="text" class="form-control mr-2 cost" maxlength="9" enabled costInput  placeholder="TDS Amount" formControlName="TDS_AMT" (change)="CalculateAdjustAmount()" >
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Bank Payment :</label>
                    <div class="floating-input ">
                        <input type="text" class="form-control mr-2 cost" maxlength="9" enabled costInput placeholder="Bank Received" disabled  formControlName="FINAL_AMT">
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</form>


<!-- Modal -->
<div class="modal fade" #alltasks id="alltasks" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document" style="max-width: 1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bank Details</h5>
                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <div class="row" style="position: sticky; 
                top: 0;
                z-index: 21;
                background: #fff;
                margin-top: 4px;">
                    <div class="col-md-4 ml-auto">
                        <div class="floating-input">
                            <input type="text" class="form-control" [(ngModel)]="task_search_val" placeholder="Search" [ngModelOptions]="{standalone: true}" >
                        </div>
                    </div>
                </div>
                <div class="tableFixHead mt-2" >
                    <table class="table-theam-1 row_bgcolor_1">
                        <thead>
                            <tr>
                                <th class="" style="width:25px"></th>
                                <th class="w-1">Voucher No.</th> 
                                <th class="w-1">Invoice No.</th>
                                <th class="w-1">Invoice Date</th>
                                <th class="w-2">Dr/Cr</th>
                                <th class="w-1">Invoice Amt.</th>
                                <th class="w-1">Balance Amt.</th>
                                <th class="w-1">Vouchar Date</th>
                                <th class="w-3">Ref. Party</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let data of bankreceipt_detail; let i=index;">
                             <tr>
                                <td class="" style="width:25px">
                                    <label>
                                        <input class="form-check-input ml-0 table-check" type="checkbox" id="c_{{i}}" [(ngModel)]="data.ACTIVE" [ngModelOptions]="{standalone: true}">
                                    </label>

                                </td>
                                <td class=""><label for="v_{{i}">{{data.VOUCHER_NO}}</label></td>
                                <td class="">{{data.INVOICE_NO}}</td>
                                <td class="">{{data.INVOICE_DATE}}</td>
                                <td class="w-2">{{data.DR_CR}}</td>
                                <td class="w-1">{{data.INVOICE_AMT}}</td> 
                                <td class="w-1">{{data.BALANCE_AMT}}</td>
                                <td class="" title="Save">{{data.VOUCHER_DATE}}</td>
                                <td class="w-3">{{data.REF_PARTY}}</td>
 
                             </tr>
                            </ng-container> 
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-secondary" (click)="f_addRow()"  (change)="CalculateAdjustAmount()" formControlName="Add"
                data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

