<app-spinner [startSpinner]='spinner' *ngIf="spinner"></app-spinner>
<form [formGroup]="form">
  <div class="row justify-between">

    <div class="col-md-8">
      <h5 class="mb-0 headers" *ngIf="!isViewLeave">Leave Details</h5>
    </div>
    <div class="col-md-4">
      <button class="btn btn-secondary  float-right m-1 ml-1 mr-1" *ngIf="!isViewLeave" data-toggle="modal"
        data-target="#approve_leave" title="Approve">Approve</button>
      <button class="btn btn-secondary  float-right m-1 ml-1 mr-1" *ngIf="!isViewLeave" data-toggle="modal"
        data-target="#decline_leave" title="Reject">Reject</button>
      <button class="btn btn-secondary  float-right m-1 ml-1 mr-1" *ngIf="!isViewLeave" (click)="toggle()"
        title="view Leave Details">Back</button>
    </div>

    <div class="col-md-12" *ngIf="isViewLeave">
      <div class="row">
          <div class="col-md-12 col-lg-3 mt-2">
              <div class="floating-input list-btn">
                  <select class="form-control selectpicker show-tick" formControlName="EMP_NO"
                      (change)="onChange($event)" data-live-search="true" #emp id="emp{{i}}" title="Employee Name"
                      enabled>
                      <option *ngFor="let opt of EmpCommon_list; let i=index"
                          [selected]="opt.EMP_NO == form.controls['EMP_NO'].value" [value]="opt.EMP_CODE">{{
                          opt.EMP_CODE }} - {{ opt.USER_NAME }}</option>
                  </select>
                  <button type="button" class="close" (click)="resetDropdown('EMP_NO')"
                      (click)="form.controls['EMP_NO'].reset()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mt-2">
              <div class="floating-input">
                  <input type="text" class="form-control" formControlName="FROM_DATE" [(ngModel)]="FROM_DATE"
                      (change)="ChangeFDate()" placeholder="From Date" readonly>
                  <!-- <app-date-picker id="reqdate" [(ngModel)]="JV_DATE" #reqdate class="date-input" [ngModelOptions]="{standalone: true}"></app-date-picker> -->
                  <div class="date-input">
                      <mat-form-field fxFlex="100" appearance="fill">
                          <mat-datepicker-toggle matPrefix [for]="picker2" id='cal2{{i}}'
                              #cal2></mat-datepicker-toggle>
                          <input class="form-control" (dateChange)="ChangeFDate()" [value]="F_DATE" matInput
                              [(ngModel)]="F_DATE" [ngModelOptions]="{standalone: true}" [matDatepicker]="picker2"
                              [min]="min_date" [max]="maxdate" [disabled]="false" readonly />

                          <mat-datepicker #picker2 id="picker2"></mat-datepicker>
                      </mat-form-field>
                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 mt-2 ">
              <div class="floating-input">
                  <input type="text" class="form-control" formControlName="TO_DATE" [(ngModel)]="TO_DATE" enabled
                      placeholder="To Date" readonly>
                  <!-- <app-date-picker id="reqdate" [(ngModel)]="JV_DATE" #reqdate class="date-input" [ngModelOptions]="{standalone: true}"></app-date-picker> -->
                  <div class="date-input" id="div_todate">
                      <mat-form-field fxFlex="100" appearance="fill">
                          <mat-datepicker-toggle matPrefix [for]="picker3" id="dt_cal3{{i}}"
                              #dt_cal3></mat-datepicker-toggle>
                          <input class="form-control" (dateChange)="ChangeTDate()" [value]="T_DATE" id="cal3"
                              matInput [(ngModel)]="T_DATE" [ngModelOptions]="{standalone: true}"
                              [matDatepicker]="picker3" [min]="min_date" [max]="maxdate" [disabled]="false"
                              readonly />

                          <mat-datepicker #picker3 id="picker3"></mat-datepicker>
                      </mat-form-field>
                  </div>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-2 ">
            <div class="d-flex flex-wrap mr-2 mb-2">
              <div>
                <input type="radio" id="age1" name="age" value="P" (change)="filterListWithStatus($event.target.value)"
                  checked>
                  <label for="age1" class="mr-2 ml-2">Pending</label>
              </div>
    
              <div>
                <input type="radio" id="age2" name="age" value="R" (change)="filterListWithStatus($event.target.value)">
                <label for="age2" class="ml-2 mr-2">Rejected</label>
              </div>
              <div>
                <input type="radio" id="age2" name="age" value="A" (change)="filterListWithStatus($event.target.value)">
                <label for="age2" class="ml-2 mr-2">Approved</label>
              </div>
            </div>
          </div>
          <div class=" col-xl-2 col-lg-2 col-md-12 col-sm-12 mt-2">
            <div class="d-flex flex-wrap">
              <button class="btn btn-secondary" (click)="GetSearchLeaveList()" id="Search{{i}}"
                  title="Search">Search</button>

                  <button class="btn btn-secondary" (click)="clear()" id="Search{{i}}" title="Search">Clear</button>
                </div>
          </div>
          <!-- <div class=" col-xl-1 col-lg-2 col-md-2 col-sm-2 mt-2">
              <button class="btn btn-secondary" (click)="clear()" id="Search{{i}}" title="Search">Clear</button>
        
          </div> -->


          <div class="col-md-12 mt-2" >
            <div class="tableFixHead ">
              <table class="table-theam-1 table_width row_bgcolor_1">
                <thead>
                  <tr>
                    <th class="w-20">Employee Name</th>
                    <th class="w-20">Leave Type</th>
                    <th class="w-20">From Date</th>
                    <th class="w-20">To Date</th>
                    <th class="w-20">No. of Days</th>
                    <!-- <th class="w-40">Reason</th> -->
                    <th class="w-20">Status</th>
                    <th class="w-20">Action</th>
    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of Employee_list;let i=index;">
                    <td class="w-20"  id="USER_NAME{{i}}">{{data.USER_NAME}}</td>
                    <td  class="w-20" id="LEAVE_TYPE{{i}}">{{data.LEAVE_TYPE}}</td>
                    <td class="w-20" id="FROM_DATE{{i}}">{{data.FROM_DATE}}</td>
                    <td class="w-20" id="TO_DATE{{i}}">{{data.TO_DATE}}</td>
                    <td class="w-20" id="NO_OF_DAYS{{i}}">{{data.NO_OF_DAYS}}</td>
                    <!-- <td class="w-40" id="Reason{{i}}">
                        {{data.REASON}}
                    </td> -->
                    <td class="w-20" id="Val{{i}}">{{data.STATUS}}
                    </td>
                    <td class="w-20">
                      <!-- <button class="viewBtn" (click)="viewDetails(data)" pTooltip="view details" tooltipPosition="top"> -->
                      <!-- <i class="menu-icon pi pi-pencil"></i> -->
                      <i class="fas fa-eye text-info mr-3" *ngIf=" data.STATUS == 'Pending' || data.STATUS == 'P'"
                        (click)="viewDetails(data)"></i>
                      </td>
    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
</form>


<!-- Modal -->
<div class="modal fade" id="approve_leave" #approve_leave tabindex="-1" role="dialog" aria-labelledby="approve_leave"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header text-center">
          <h5>Leave Approve</h5>
          <p>Are you sure want to approve for this leave?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="ApproveLeave()" class="btn btn-secondary" data-dismiss="modal"
          data-target="#APPROVE">Approve</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="decline_leave" #decline_leave tabindex="-1" role="dialog" aria-labelledby="approve_leave"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header text-center">
          <h5>Leave Reject</h5>
          <p style="text-align: left;margin-left: 15px;">Are you sure want to reject for this leave?</p>
        </div>
        <div class="col-md-12">
          <label> Reject Reason :</label>
          <div class="floating-input mb-2">
            <textarea name="" id="" cols="2" class="form-control" placeholder="Reject Reason"
              [(ngModel)]="reject_reason"></textarea>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" (click)="RejectLeave()" class="btn btn-secondary" data-target="#REJECT"
          data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!--POP-UP-->
<div class="modal fade" #viewLeave id="viewLeave" tabindex="-1" role="dialog" data-keyboard="false"
  data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document" style="max-width: 1200px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Today's Leave Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0">

        <div class="col-md-12">
          <div class="tableFixHead mt-2 ">
            <table class="table-theam-1 row_bgcolor_1 ">
              <thead>
                <tr>
                  <th class="w-2">Employee Name</th>
                  <th class="w-1">Leave Type</th>
                  <th class="w-1">From Date</th>
                  <th class="w-1">To Date</th>
                  <th class="w-2">Reason</th>
                  <th class="w-1">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of today_Leave_List;let i=index;">
                  <td class="w-2" id="USER_NAME{{i}}">{{data.USER_NAME}}</td>
                  <td class="w-1" id="LEAVE_TYPE{{i}}">{{data.LEAVE_TYPE}}</td>
                  <td class="w-1" id="FROM_DATE{{i}}">{{data.FROM_DATE}}</td>
                  <td class="w-1" id="TO_DATE{{i}}">{{data.TO_DATE}}</td>
                  <td class="w-2" id="Reason{{i}}">
                    <div>
                      <i class="fas fa-registered mr-3" (click)="clickReason(data.REASON)" data-target="#Reason"
                        data-toggle="modal" title="{{data.REASON}}">
                        <span title="{{data.REASON}}"></span></i>
                    </div>
                  </td>
                  <td class="w-1" id="Val{{i}}">{{data.STATUS}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--POP-UP FOR THE TABLE-->
<div class="modal" id="reason" #reason tabindex="-1" role="dialog" aria-labelledby="reason" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
          <h5 class="modal-title" id="ReasonforLeave">Reason for Leave</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>
        <div class="modal-body">
          <div class="row mt-2">
            <div class="col-md-12">

              <p>{{leaveReason}}</p>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" (click)="ApproveLeave()" class="btn btn-secondary" data-dismiss="modal" data-target="#APPROVE">Approve</button> -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!--POP-UP FOR THE CLASH LEAVE-->
<div class="modal" id="Reason" #Reason tabindex="-1" role="dialog" aria-labelledby="Reason" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
          <h5 class="modal-title" id="ReasonforLeave">Reason for Leave</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>
        <div class="modal-body">
          <div class="row mt-2">
            <div class="col-md-12">

              <p>{{LeaveReason}}</p>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" (click)="ApproveLeave()" class="btn btn-secondary" data-dismiss="modal" data-target="#APPROVE">Approve</button> -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="row" *ngIf="!isViewLeave" [style]="!isViewLeave ? 'display: block' : 'display: none'">
    <div id="viewForm">
      <div class="d-flex mb-2">
          <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12  ">
              <div class="row card">
                  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                      <label>Employee :<span class="text-danger">*</span></label>
  
                      <div class="floating-input list-btn mb-2">
                          <input type="text" class="form-control" [value]="USER_NAME" disabled>
                      </div>
                  </div>
            			<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <label>Leave Code :<span class="text-danger">*</span></label>
                    <div class="floating-input list-btn mb-2">
                      <input type="text" class="form-control" [value]="LEAVE_CODE" disabled>
                  </div>
                  </div>
              <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                  <label>Request Date :<span class="text-danger">*</span></label>
                  <div class="floating-input mb-2">
                      <input type="text" class="form-control" [value]="REQ_ON" disabled>
                    </div>
              </div>
              <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                  <label>Type :<span class="text-danger">*</span></label>
  
                  <div class="floating-input mb-2">
                      <input type="text" class="form-control" [value]="LEAVE_TYPE" disabled>
                  </div>
  
              </div>
              <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                  <label>From :<span class="text-danger">*</span></label>
                  <div class="floating-input mb-2">
                      <input type="text" class="form-control" [value]="FROM_DATE1" disabled>
                    </div>
              </div> 
              <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                  <label>To :<span class="text-danger">*</span></label>
                  <div class="floating-input mb-2">
                      <input type="text" class="form-control" [value]="TO_DATE1" disabled>
                    </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <label>Reason :<span class="text-danger">*</span></label>
                  <div class="floating-input mb-2">
                      <textarea rows="2" class="form-control" [value]="REASON1" disabled></textarea>
                    </div>
              </div>
            </div>
          </div> 
    
      <div class=" col-xl-3 col-lg-12 col-md-12 col-sm-12  d-flex ">
          <div class="row card" >
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <label>HR Approved Leave :</label>
                  <div class="floating-input mb-2">
                      <input type="text" class="form-control" [value]="TOTAL_LEAVE_APPLIED" 
                          disabled placeholder="Total Leave Applied ">
                  </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <label>Leave Pending for PM Approval :</label>
                  <div class="floating-input mb-2">
                      <input type="text" class="form-control" [value]="LEAVE_PENDING_FOR_PM_APPROVAL"
                          disabled placeholder="Leave Pending for PM App">
                  </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <label>Leave Pending for HR Approval:</label>
                  <div class="floating-input mb-2">
                      <input type="text" class="form-control" [value]="LEAVE_PENDING_FOR_HR_APPROVAL"
                          disabled placeholder="Leave Pending for HR App">
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  
  </div>
  <div class="card row ">
    <div class="col-md-12">
      <div class="d-flex w-100" *ngIf="!isViewLeave">
        <div>
          <input type="radio" id="age1" name="age" value="HISTORY" (change)="employeeHistory($event.target.value)"
            checked>
            <label for="age1" class="mr-2 ml-2">Employee History</label>
        </div>
        <div>
          <input type="radio" id="age2" name="age" value="CLASH" (change)="employeeHistory($event.target.value)">
          <label for="age2" class="ml-2 mr-2">Others Leave details</label>
        </div>
      </div>
      <div class="" *ngIf="!isViewLeave">
        <div class="">
          <div class="tableFixHead ">
            <table class="table-theam-1 row_bgcolor_1">
              <thead>
                <tr>
                  <th class="w-20" *ngIf="employeeDetailsFToggle=='CLASH'">Employee Name</th>
                  <th class="w-20">Leave Type</th>
                  <th class="w-130">From Date</th>
                  <th class="w-130">To Date</th>
                  <th class="w-130">No. of Days</th>
                  <th class="w-40">Reason</th>
                  <th class="w-130">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of EmployeeHistory;let i=index;">
                  <td id="USER_NAME{{i}}" *ngIf="employeeDetailsFToggle=='CLASH'">{{data.USER_NAME}}</td>
                  <td id="LEAVE_TYPE{{i}}">{{data.LEAVE_TYPE}}</td>
                  <td class="w-130" id="FROM_DATE{{i}}">{{data.FROM_DATE}}</td>
                  <td class="w-130" id="TO_DATE{{i}}">{{data.TO_DATE}}</td>
                  <td class="w-130" id="NO_OF_DAYS{{i}}">{{data.NO_OF_DAYS}}</td>
                  <td class="w-40" id="Reason{{i}}">{{data.REASON}}</td>
                  <td class="w-130" id="Val{{i}}">{{data.STATUS}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>