<div id="viewForm">
    <div class="mt-2 d-flex">
        <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 pr-0 padd_right d-flex  ">
            <div class="row card">
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <label>Employee :<span class="text-danger">*</span></label>

                    <div class="floating-input list-btn mb-2">
                        <input type="text" class="form-control" [value]="USER_NAME" disabled>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-8 mr-5" *ngIf="!ADD_RIGHTS">
                    <label>Employee :</label>
                    <div class="floating-input mb-2">
                        <div class="floating-input">
                            <input type="text" class="form-control" formControlName="USER_NAME" id="employee" readonly> 
                        </div>
                    </div>
                </div> -->
            <!-- <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                <label>Leave Code :<span class="text-danger">*</span></label>
                <div class="floating-input mb-2 list-btn"
                    [ngClass]="{'invalid-control':isSubmited && form.controls['LEAVE_CODE'].errors?.required}">
                    <select class="form-control selectpicker show-tick" formControlName="LEAVE_CODE" id="CODE"
                        data-live-search="true" title="Select">
                        <option *ngFor="let opt of Leave_list; let i = index"
                            [selected]="opt.LEAVE_CODE == form.controls['LEAVE_CODE'].value" [value]="opt.LEAVE_CODE">{{
                            opt.LEAVE_NAME }}</option>
                    </select>
                    <button type="button" class="close" onclick="resetDropdown('LEAVE_CODE')"
                        (click)="form.controls['LEAVE_CODE'].reset()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div> -->
            <!-- <div class="col-md-2">
                    <label>Leave Balance :</label>
                    <div class="floating-input mb-2">
                        <input type="text" class="form-control" formControlName="LEAVE_BALANCE" OnlyNumber='true' disabled placeholder="Leave Balance">
                    </div>
                </div> -->
            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                <label>Request Date :<span class="text-danger">*</span></label>
                <div class="floating-input mb-2">
                    <input type="text" class="form-control" [value]="FROM_DATE" disabled>
                  </div>
            </div>
            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                <label>Type :<span class="text-danger">*</span></label>

                <div class="floating-input mb-2">
                    <input type="text" class="form-control" [value]="LEAVE_TYPE" disabled>
                </div>

            </div>
            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                <label>From :<span class="text-danger">*</span></label>
                <div class="floating-input mb-2">
                    <input type="text" class="form-control" [value]="FROM_DATE" disabled>
                  </div>
            </div>
            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                <label>To :<span class="text-danger">*</span></label>
                <div class="floating-input mb-2">
                    <input type="text" class="form-control" [value]="TO_DATE" disabled>
                  </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <label>Reason :<span class="text-danger">*</span></label>
                <div class="floating-input mb-2">
                    <textarea rows="2" class="form-control" [value]="REASON1" disabled></textarea>
                  </div>
            </div>
        </div>
    </div>
    <div class=" col-xl-3 col-lg-12 col-md-12 col-sm-12  d-flex ">
        <div class="row card">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <label>Total Leave Applied :</label>
                <div class="floating-input mb-2">
                    <input type="text" class="form-control" [value]="TOTAL_LEAVE_APPLIED" OnlyNumber='true'
                        disabled placeholder="Total Leave Applied ">
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <label>Leave Pending for PM Approval :</label>
                <div class="floating-input mb-2">
                    <input type="text" class="form-control" [value]="LEAVE_PENDING_FOR_PM_APPROVAL"
                        OnlyNumber='true' disabled placeholder="Leave Pending for PM App">
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <label>Leave Pending for HR Approval:</label>
                <div class="floating-input mb-2">
                    <input type="text" class="form-control" [value]="LEAVE_PENDING_FOR_HR_APPROVAL"
                        OnlyNumber='true' disabled placeholder="Leave Pending for HR App">
                </div>
            </div>
        </div>
    </div>
</div>
