<div class="d-flex flex-row justify-content-between align-items-center">
  <h5 class="h5 mb-0">PM Confirmation List</h5>

  <div class="d-flex ml-2 justify-content-between align-items-center
    mt-2">
    <div class=" p-2 ">
      <label class="Text_Primary Helper_Text">
    <input
      type="radio"
      name="status"
      [(ngModel)]="liststatus"
      value="Pending"
      (change)="setStatus('Pending')"
      class="mr-1"
    />
    Pending
  </label>
    </div>
    <div class="p-1">
      <label class="Text_Primary Helper_Text ">
        <input
        class="mr-1"
          type="radio"
          name="status"
          [(ngModel)]="liststatus"
          value="Closed"
          (change)="setStatus('Closed')"
        />
        Closed
      </label>
    </div>
  </div>

  <div class="input-group" style="max-width: 259px;">
      <div class="input-group-prepend">
        <span class="input-group-text bg-white border-right-0">
          <i class="fa fa-search"></i>
        </span>
      </div>
      <input type="text" class="form-control border-left-0" placeholder="Search" [(ngModel)]="SearchValue"
        (ngModelChange)="GetInputFilter(SearchValue)" style="box-shadow: none;" />
    </div>
</div>




<div class="mt-2 ">
  <div class="card">
    <div  class="p-3" *ngIf="this.ISSUE_REQUEST_LIST_DATA.length == 0">
    <p *ngIf="this.ISSUE_REQUEST_LIST_DATA.length == 0">No Records Found</p>
    </div>
    <div class="tableFixHead" *ngIf="this.ISSUE_REQUEST_LIST_DATA.length > 0">
      <table class="table-theam-1 row_bgcolor_1">
        <thead>
          <tr>
            <th *ngFor="let column of ISSUE_REQUEST_COLUMN_LIST">{{ column.Col_Name }}</th>
            <th class="">Action</th> <!-- For Action column -->
 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ISSUE_REQUEST_LIST_DATA">
            <td *ngFor="let column of ISSUE_REQUEST_COLUMN_LIST">
              {{ data[column.Col_Filed] }}
            </td>
            <td class="">
              <!-- Add your action buttons here -->
              <span> <i class="fa fa-eye mr-1" *ngIf = "liststatus !== 'Pending'" (click)="GetDeveloperRequestRaised(ISSUE_REQUEST_COLUMN_LIST[0], data)"></i></span>
              <span> <i class="far fa-edit mr-1" *ngIf = "liststatus == 'Pending'" (click)="GetDeveloperRequestRaised(ISSUE_REQUEST_COLUMN_LIST[0], data)"></i></span>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
