#cover {
    background: #222 url('~/assets/images/IT-background1.jpg') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 99vh;
}

#cover:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 22%);
    border-radius: 10px;
}

button,
i {
    cursor: pointer;
}


/* only used for background overlay not needed for centering */

form.forms:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
    border-radius: 10px;
}

.forms .form-control {
    border: none;
}

.input-group-text {
    background-color: #d2d5d8;
}

h5.display-4 {
    font-size: 2.5rem !important;
}

.forget-text:hover {
    color: #c7bad0 !important;
    font-weight: 600;
    cursor: pointer !important;
}