<app-spinner [startSpinner]='spinner' *ngIf="spinner"></app-spinner>

<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container mt-5">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h5 class="display-4 py-2 text-truncate">Reset Password</h5>
                    <br>
                    <div class="px-2">
                        <form class="forms justify-content-center">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope icon"></i></span>
                                </div>
                                <input type="text" [(ngModel)]="userEmail" class="form-control" id="loginId" #loginId [ngModelOptions]="{standalone: true}" placeholder="example@gmail.com" readonly>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" [(ngModel)]="userOTP" class="form-control" id="otp" #otp placeholder="OTP" required maxlength="6" minlength="6" OnlyNumber='true' [ngModelOptions]="{standalone: true}">
                            </div>

                            <div class="form-group">
                                <label class="text-danger font-weight-normal text-left">
                                    Password must contain atleast one Uppercase Alphabet, one Number, one Special Character (!@#$%^&*) and minimum 8 characters.
                                </label>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                                </div>
                                <input type="password" [(ngModel)]="userPassword" class="form-control" id="Password" #Password placeholder="Password" autocomplete="off" [ngModelOptions]="{standalone: true}" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                                </div>
                                <input type="password" [(ngModel)]="confPassword" class="form-control" id="cpassword" #cpassword placeholder="Confirm Password" [ngModelOptions]="{standalone: true}" autocomplete="off" required>
                            </div>
                            <div>
                                <button type="submit" (click)="onSubmitPassword()" class="btn btn-primary btn-lg mr-2">Submit</button>
                            </div>
                            <a class="text-white forget-text float-right" (click)="login()">Login here</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>