.tableFixHead {
    overflow-x: auto;
}

.table-width {
    width: max-content;
}

table .width-10 {
    width: 80px;
}

table .width-15 {
    width: 110px;
}

table .width-20 {
    width: 230px;
}

table .width-5 {
    width: 25px;
}

table .table-check {
    margin-top: -11px;
}
.card{
    margin: 0 !important;
    flex-direction: inherit !important;
    }

table .w-130{
    width: 130px;
}
table .w-10{
    width: 100px;
}
@media (max-width: 1278px) { 
.tableFixHead {
            overflow-x: auto; 
        }        
        
table.table-theam-1 {
           width: max-content; 
        }
}
