<app-spinner [startSpinner]='spinner' *ngIf="spinner"></app-spinner>
<form>
    <div class="row">
        <div class="col-md-12 mb-1" *ngIf="UPDATE_RIGHTS || ADD_RIGHTS">
            <div class="d-flex justify-content-between">
                <h5 class="formName col-md-4">{{ sharedService.formName }}</h5>
                <button class="btn btn-secondary" (click)="saveAttendanceTimeSheet();" [disabled]="!isAllowSave" *ngIf="ADD_RIGHTS" title="Save">Save</button>
            </div>
           
        </div>

          <!-- <div class="col-md-12 mb-1">
            <div class="d-flex justify-content-between">
                <h5 class="formName col-md-4">{{ sharedService.formName }}</h5>
                <button class="btn btn-secondary" (click)="saveAttendanceTimeSheet();" [disabled]="!isAllowSave" title="Save">Save</button>
            </div>
           
        </div>  -->
        
        <div class="page-content">
            <div class="col-md-12 mt-2">
                <div class="row">
                    <div class="col-md-6">
                        <label>Employee :</label>
                        <div class="floating-input  list-btn">
                            <select class="form-control selectpicker show-tick" id="emp" [(ngModel)]="EMP_CODE" (change)="CheckAttendance()" data-live-search="true" title="Select" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let opt of employee_list; let i=index" 
                                [selected]="opt.EMP_CODE == EMP_CODE"
                                 [value]="opt.EMP_CODE" >{{ opt.EMP_CODE }} - {{ opt.USER_NAME }}</option>                     
                            </select>
                            <button type="button" class="close" onclick="resetDropdown('emp')" (click)="EMP_CODE='';f_clearForm()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6"  >
                        <label>Work Location :</label>
                        <div class="form-inline mt-1">
                            <div class="form-group radios mr-3">
                                <input id="office" type="radio" [(ngModel)]="WORK_LOC" value="O" name="WorkLoc"  class="mr-1">
                                <label for="office"><span class="span-txt">In Office 
                                    </span></label>
                            </div>
                            <div class="form-group radios mr-3">
                                <input id="wfh" type="radio" [(ngModel)]="WORK_LOC" value="W" name="WorkLoc"  class="mr-1">
                                <label for="wfh"><span class="span-txt">Work From Home
                                    </span></label>
                            </div>
                            <div class="form-group radios mr-3">
                                <input id="outOfOffice" type="radio" [(ngModel)]="WORK_LOC" value="C" name="WorkLoc"  class="mr-1">
                                <label for="outOfOffice"><span class="span-txt">Out Of Office
                                    </span></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Date :</label>
                        <div class="floating-input ">
                            <input type="text" [(ngModel)]="DATE" placeholder="dd-mm-yyyy" [value]="DATE" class="form-control" [ngModelOptions]="{standalone: true}"  readonly>
                            <div class="date-input">
                                <mat-form-field fxFlex="100" appearance="fill">
                                    <mat-datepicker-toggle matPrefix [for]="picker" id='cal' #cal></mat-datepicker-toggle>
                                    <input class="form-control" (dateChange)="parseDate()" [value]="_DATE" matInput [(ngModel)]="_DATE" [ngModelOptions]="{standalone: true}" [matDatepicker]="picker" [max]="maxdate" [disabled]="false" readonly />

                                    <mat-datepicker #picker id="picker"></mat-datepicker>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                    <!-- <div class="col-md-12" *ngIf="user_msg != ''">
                        <div class="alert alert-primary" role="alert">
                            {{ user_msg }}
                        </div>
                    </div> -->
                    <div class="col-md-4">
                        <label>Time IN<span class="validator">*</span>  :</label>
                        <div class="floating-input ">
                            <input type="text" [(ngModel)]="TIME_IN" (change)="changeTime()" TimeOnly="HH:MM" placeholder="hh:mm" class="form-control" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Time OUT<span class="validator">*</span>  :</label>
                        <div class="floating-input ">
                            <input type="text" [(ngModel)]="TIME_OUT" (change)="changeTime()" TimeOnly="HH:MM" placeholder="hh:mm" class="form-control" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label>Reason for HR Attendance<span class="validator">*</span>  :</label>
                        <div class="floating-input ">
                            <input type="text" [(ngModel)]="REMARKS" class="form-control" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</form>