<div class="col-md-12">
    <div class="activity">
        <div class="activity-box">
            <ul class="activity-list">
                <li>
                    <div class="activity-user">
                        <a><img class="avatar" alt="User Image" src="../assets/images/users/avatar.jpg">
                            
                        </a>
                    </div>
                    <div class="activity-content">
                        <div class="timeline-content">
                            <span class="name font-weight-bold mr-2">1173-Priyanka Malgunkar</span>added new task <span class="name font-weight-bold mr-2">CF-Track Design</span>
                            <a><i class="fa fa-tasks text-info" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="activity-user">
                        <a><img class="avatar" alt="User Image" src="../assets/images/users/avatar.jpg">
                            
                        </a>
                    </div>
                    <div class="activity-content">
                        <div class="timeline-content">
                            <span class="name font-weight-bold mr-2">1173-Priyanka Malgunkar</span>Leave Today <span class="name font-weight-bold mr-2">1/3/2021</span>
                            <a><i class="fa fa-calendar text-success"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>