.card{
    margin: 0 !important;
    flex-direction: inherit !important;
    }

   .sidebar .tableFixHead { 
        max-height: 250px; 
            overflow-x: hidden;
            overflow-y: auto;
    }  

    @media (max-width: 1200px) { 
        .tableFixHead { 
            overflow-x: auto; 
            height: 400px;
        }        
    
    }  
    .selectpicker option {
        color: black; /* Change option color when it's not selected */
      }
      .selectpicker {
        color: black; /* Change the font color of the text */
      }
      .selectpicker option:checked {
        color: black; /* Selected option color */
      }
      .modal-content {
        /* width: 135% !important; */
    }
