<app-spinner [startSpinner]='spinner' *ngIf="spinner"></app-spinner>
<div class="container-fluid">
       <div class="row">
        <div class="col-md-12">
    <div class="d-flex flex-wrap justify-content-between">
        <h5 class="formName col-md-4">{{ sharedService.formName }}</h5>
        <div class="row col-md-8 justify-content-end">
                        <div class="col-md-6 pb-2">
                <!-- <label>Status<span class="validator">*</span> :</label> -->
                <div class="floating-input  list-btn">
                    <select class="form-control selectpicker show-tick" id="projStatus" data-live-search="true"
                        [(ngModel)]="selectedManager" title="Select Manager">
                        <option *ngFor="let opt of employee_list; let i=index" [value]="opt.EMP_CODE">{{ opt.USER_NAME
                            }}</option>
                    </select>
                    <button type="button" class="close" (click)="clearManager();GetOpportunityLogList();"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="col-md-4 pb-2">
                <!-- <label>Status<span class="validator">*</span> :</label> -->
                <div class="floating-input  list-btn">
                    <select class="form-control selectpicker show-tick" id="projStatus" data-live-search="true"
                        [(ngModel)]="selectedStatus" title="Select status">
                        <option *ngFor="let opt of opportunity_status_list; let i=index" [value]="opt.OPPO_STATUS">{{
                            opt.OPPO_STATUS_DESC }}</option>
                    </select>
                    <button type="button" class="close" (click)="clear();GetOpportunityLogList();" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="col-md-1 pb-2">
                <button class="btn btn-secondary " (click)="GetOpportunityLogList()" title="Save">Show</button>
            </div>

        </div>
    </div>
      </div>
        </div>
    <div class="page-content mt-1">
        <div class="col-md-12">
            <div class="tableFixHead ">
                <table class="table-theam-1 row_bgcolor_1">
                    <thead>
                        <tr>
                            <th>Oppo Code</th>
                            <th> Date</th>
                            <th>Oppo Name</th>
                            <th>Account MGR</th>
                            <th>Cust Name</th>
                            <th>Status</th>
                            <th class="w-110">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of all_log_detail;let i=index;">
                            <td>{{data.OPPO_CODE}}</td>
                            <td>{{data.PROJECT_DATE | date:'dd-MMM-yyyy' }}</td>
                            <td>{{data.OPPO_NAME}}</td>
                            <td>{{data.ACCOUNT_MGR}}</td>
                            <td>{{data.CUST_NAME}}</td>
                            <td>{{data.OPPO_STATUS_DESC}}</td>
                            <td class="w-110">
                                <a>
                                    <i class="fa fa-edit" (click)="getopportunityLogDetails(data);" title="Edit"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>