table .w-10{
    width: 150px;
}
table .w-5{
    width: 70px;
}
table .w-30{
    width: 250px;
}
table .w-20{
    width: 200px;
}

.card{ 
    margin: 0 !important;
    flex-direction: inherit !important;
    }