<app-spinner [startSpinner]='spinner' *ngIf="spinner"></app-spinner>
<form [formGroup]="form">
    <!--  -->
    <div class="row">
        <div class="col-md-12">
            <div>
                <h5 class="formName " >{{ sharedService.formName }}</h5>
            </div>
            <div class="row card">
                <div class="col-md-4">
                    <label>Project<span class="validator">*</span> :</label>
                    <div class="floating-input list-btn mb-1" [ngClass]="{'invalid-control':isSubmited && form.controls['PROJ_CODE'].errors?.required}">
                        <select class="form-control selectpicker show-tick" formControlName="PROJ_CODE" (change)="setCompany();" id="proj" #proj data-live-search="true" title="Select">
                            <option *ngFor="let opt of project_list; let i=index" [selected]="opt.PROJ_CODE == ''"
                                [value]="opt.PROJ_CODE">{{ opt.PROJ_NAME }}</option>
                        </select>
    
                        <button type="button" class="close" onclick="resetDropdown('proj')" (click)="this.form.controls['PROJ_CODE'].reset();task_list=[];" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <label>Company :</label>
                    <div class="floating-input mb-1" [ngClass]="{'invalid-control':isSubmited && form.controls['COMPANY'].errors?.required}">
                        <input type="text" formControlName="COMPANY" placeholder="Company" class="form-control text-uppercase">
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Customer :</label>
                    <div class="floating-input mb-1" [ngClass]="{'invalid-control':isSubmited && form.controls['CUSTOMER'].errors?.required}">
                        <input type="text" formControlName="CUSTOMER" placeholder="Customer" class="form-control text-uppercase">
                    </div>
                </div> -->
                <div class="col-md-4">
                    <label>Status :</label>
                    <div class="floating-input  list-btn" >
                        <select class="form-control selectpicker show-tick" formControlName="TASK_STATUS" 
                        (change)="onShowTask(this.form.controls['TASK_STATUS'].value);" id="Staus" #Staus data-live-search="true" title="Select">
                            <option *ngFor="let opt of task_status_list; let i=index" [selected]="opt.TASK_STATUS == ''"
                                [value]="opt.TASK_STATUS">{{ opt.TASK_STATUS_DESC }}</option>
                        </select>
                        <button type="button" class="close" onclick="resetDropdown('Staus')" (click)="this.form.controls['TASK_STATUS'].reset();" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <label>Task Type :</label>
                    <div class="floating-input  list-btn" >
                        <select class="form-control selectpicker show-tick" formControlName="TASKTYPE_CODE" id="Task_type"
                        (change)="onShowTask();"  #Task_type data-live-search="true" title="Select">
                            <option *ngFor="let opt of task_type_list; let i=index" [selected]="opt.TASKTYPE_CODE == ''"
                                [value]="opt.TASKTYPE_CODE">{{ opt.TASKTYPE_DESC }}</option>
                        </select>
                        <button type="button" class="close" onclick="resetDropdown('Task_type')" (click)="this.form.controls['TASKTYPE_CODE'].reset();" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div> -->
            </div>
        </div>
        <!--  -->
        <div class="col-md-12 mt-2">
            <div class="row card">
                  <div class="col-xl-12 col-lg-8 col-md-12 col-sm-12">
                    <div class="d-flex justify-content-between">
                      <h6 class="mb-0">Task Status Details</h6>
                      <button
                        type="button"
                        class="btn text-primary pb-0"
                        (click)="AddTask()"
                      >
                        <i class="fas fa-plus-circle mr-2"></i>Add Task
                      </button>
                    </div>
                    <hr class="m-0 mb-2" />
                  </div>
                    <div class="tableFixHead">
                        <table class="table-theam-1 row_bgcolor_1">
                            <thead>
                                <tr>
                                    <th class="w-5">Task No</th>
                                    <!-- <th class="w-30">Project</th> -->
                                    <th class="w-30">Task Desc</th>
                                    <th class="w-5">Priority</th>
                                    <th class="w-10">Start Date</th>
                                    <th class="w-10">Compl Date</th>
                                    <th class="w-10">Total Hours </th>
                                    <th class="w-10">Act Completion Date</th>
                                    <!-- <th class="w-30">Business Owner</th> -->
                                    <th class="w-10">Status</th>
                                    <th class="w-5">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of task_list; let i=index;">
                                    <td class="w-5">
                                            {{ data.TASK_NO }}
                                    </td>
                                    <!-- <td class="w-30">
                                        {{ data.PROJ_NAME }}
                                    </td> -->
                                    <td class="w-30">
                                        {{ data.TASK_DESC }}
                                    </td>
                                    <td class="w-5" *ngIf="data.PRIORITY == 'H'">High</td>
                                    <td class="w-5" *ngIf="data.PRIORITY == '' || data.PRIORITY == null"></td>
                                    <td class="w-5" *ngIf="data.PRIORITY == 'N'">Normal</td>
                                    <td class="w-5" *ngIf="data.PRIORITY == 'S'">SOS</td>
                                    <td>{{ data.PLANNED_START_DATE }}</td>
                                    <td>{{ data.COMPLETION_DATE }}</td>
                                    <td>{{ data.TOTAL_MIN }} </td>
                                    <td>{{ data.ACTUAL_COMPLETION_DATE }}</td>
                                    <!-- <td class="w-30"> {{ data.BUSINESS_OWNERNAME }}</td> -->
                                    <td class="w-10">
                                        <select class="form-control selectpicker show-tick" [(ngModel)]="data.TASK_STATUS" data-container="body" data-size="5" (change)="f_openWarning(i,data.TASKID,data.TASK_STATUS)" data-live-search="true" title="Select" [ngModelOptions]="{standalone: true}">
                                            <option value="" disabled></option>
                                            <option *ngFor="let opt of task_status_list; let i=index" 
                                            [selected]="opt.TASK_STATUS == data.TASK_STATUS" 
                                            [value]="opt.TASK_STATUS">{{ opt.TASK_STATUS_DESC }}</option>
                                        </select>
                                    </td>
                                    <td class="w-5">
                                    <i  class="fa fa-eye " 
                                     (click)="f_OpenTask(data.TASKID,1)"
                                    title="View"></i>
                                    <i  class="fa fa-edit ml-1 " *ngIf="data.TASK_STATUS != 'C'"
                                    (click)="f_OpenTask(data.TASKID,0)"
                                    title="Edit"></i>
                                    <i  class="fa fa-user-circle ml-1" *ngIf="data.TASK_STATUS != 'C'"
                                    (click)="GetTaskDetail(data.TASKID)"
                                    title="Assign Employee"></i>
                                  </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</form>

<div class="modal" tabindex="-1" id="warn_popup" #warn_popup role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h5 class="modal-title">Add Customer Details</h5> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Are you sure, you want to change status?</label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="UpdateTaskStatus(_taskid,_status)">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="GetTaskList(0);_taskid=null;_status=''">No</button>
            </div>
        </div>
    </div>
</div>


<div
  class="modal fade"
  #UpdateTaskassignEmployee
  id="UpdateTaskassignEmployee"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog " role="document">
    <div class="modal-content mt-5" style="width: 500px;">
      <div class="modal-header header-background py-1">
        <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
      </div>
      <div class="modal-body">
        <div class="" >
            <label>Employee :</label>
            <div class="d-flex " >
                <select class=" form-control selectpicker show-tick" [(ngModel)]="selected_emp" data-container="body" data-size="5" id="emp" #emp data-live-search="true" title="Select" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let opt of all_emp_list; let i=index" [value]="opt | json">
                        {{ opt.EMP_CODE }} - {{ opt.USER_NAME }}</option>
                </select>
                    <button type="button" class="btn text-primary" style="margin-top: -5px;margin-left:4px" (click)="addRow()">
                        <i class='fa fa-plus-square icon-big '></i>
                    </button>
             </div>
        </div>
        <div class="tableFixHead v_400scroll mt-2">
            <table class="table-theam-1 row-bgcolor_1">
                <thead>
                    <tr>
                        <th class="">Name </th>
                        <th class="w-5">Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of project_assign_emp_detail; let i=index;">
                        <td class="">
                            {{ data.EMP_NO }} - {{ data.FULL_NAME }}
                        </td>
                        <td class="w-5">
                            <p-checkbox class="mb-1"  [(ngModel)]="data.ACTIVE" [binary]="true" inputId="view" ></p-checkbox>    
                            <button type="button" class="btn text-primary p-0" (click)="removeRow(data)">
                                <i class='fas fa-trash-alt text-danger ml-2'></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

      <div class="modal-footer py-0">
        <button
          type="button"
          class="btn btn-primary py-1"
          data-dismiss="modal"
          (click)="UpdateTaskEmployeeDetails()"
        >
          Save
        </button>
        <button type="button" class="btn btn-danger py-1" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>